<?xml version="1.0" encoding="utf-8"?>
<exec>
	<practice>
		<item type="UnitTest" testType="exec_choice" unit = "U01" >
			<page>
				<item type="choice" execNum="21">
					<answer>B</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="22">
					<answer>B</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="23">
					<answer>C</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="24">
					<answer>A</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="25">
					<answer>C</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="26">
					<answer>A</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="27">
					<answer>C</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="28">
					<answer>B</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="29">
					<answer>B</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="30">
					<answer>B</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="31">
					<answer>B</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="32">
					<answer>A</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="33">
					<answer>B</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="34">
					<answer>A</answer>
				</item>				
			</page>
			<page>
				<item type="choice" execNum="35">
					<answer>C</answer>
				</item>				
			</page>
		</item>
	</practice>
</exec>