<?xml version="1.0" encoding="utf-8"?>
<exec>
	<practice>
		<item type="UnitTest" testType="exec_sentence" unit = "U01" >
			<page>
				<item type="fill" execNum="36">
					<answer>am</answer>
				</item>	
			</page>
			<page>
				<item type="fill" execNum="37">
					<answer>is</answer>
				</item>	
			</page>
			<page>
				<item type="fill" execNum="38">
					<answer>Is</answer>
				</item>	
			</page>
			<page>
				<item type="fill" execNum="39">
					<answer>is</answer>
				</item>
			</page>
			<page>
				<item type="fill" execNum="40">
					<answer>is</answer>
				</item>	
			</page>
		</item>
	</practice>
</exec>