<?xml version="1.0" encoding="utf-8"?>
<exec>
	<practice>
		<item type="UnitTest" testType="exec_fill" unit = "U01" >
			<page>
				<item type="choice" execNum="41">
					<answer>A</answer>
				</item>	
				<item type="choice" execNum="42">
					<answer>B</answer>
				</item>	
				<item type="choice" execNum="43">
					<answer>A</answer>
				</item>	
				<item type="choice" execNum="44">
					<answer>C</answer>
				</item>	
				<item type="choice" execNum="45">
					<answer>C</answer>
				</item>	
				<item type="choice" execNum="46">
					<answer>B</answer>
				</item>	
				<item type="choice" execNum="47">
					<answer>B</answer>
				</item>	
				<item type="choice" execNum="48">
					<answer>A</answer>
				</item>	
				<item type="choice" execNum="49">
					<answer>B</answer>
				</item>	
				<item type="choice" execNum="50">
					<answer>B</answer>
				</item>	
			</page>
		</item>
	</practice>
</exec>