<?xml version="1.0" encoding="utf-8"?>
<exec>
	<practice>
		<item type="UnitTest" testType="exec_writing" unit = "U01" >
			<page>
				<item type="fill" execNum="61,65">
					<item>
					    <answer>Alan</answer>
				    </item>
					<item>
					    <answer>boy</answer>
				    </item>
					<item>
					    <answer>09472927</answer>
				    </item>
					<item>
					    <answer>friend</answer>
				    </item>
					<item>
					    <answer>68535252</answer>
				    </item>
				</item>	
			</page>
		</item>
	</practice>
</exec>